*.o
*.a
*.sym
*.elf
*.bin
*.dis
*.lst
*.romlst
*.srec
*.hex
*.bak
zz*
*~
\#*
3rdParty-tools/*
built/*
SystemROM/*
src/libs_in_waiting
src/monitors/micromon/micromon.part1
src/romdisk/sayhi/sayhi
src/micromon/romdisk/passwd
