*.o
*.a
*.sym
*.elf
*.bin
*.dis
*.lst
*.romlst
*.srec
*.hex
*.bak
zz*
*~
\#*
3rdParty-tools/*
built/*
SystemROM/*
libs_in_waiting
musl-1.2.6
src/monitors/micromon/micromon.part1
src/romdisk/sayhi/sayhi
src/micromon/romdisk/passwd
src/elftools/ed
src/elftools/sayhi
