	.global _start
	.global exit
    .global twiddle_thumbs

	.extern __bss_start
	.extern _end
	
	.text

	.equ init_sp,0x27fff0
	.equ init_fp,init_sp-1024

_start:

/* Setup the stack and frame pointer */
	move.l #init_sp,%sp
	move.l #init_fp,%fp
	
/* invoke main() */
	bsr	main

exit:	
/* all done - back to the monitor */
	move.b #228,%d7
	trap #14

twiddle_thumbs:
    movem.l %d2/%d6,-(%sp)

    move.l  #1000000,%d2
    moveq.l #1,%d6
spin:
    sub.l   %d6,%d2
    bne.s   spin

    movem.l (%sp)+,%d2/%d6
    rts

	.end
